<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Beacons Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Beacons Dashboard</h1>
	<table>
		<tr>
			<th>LINKS ÚTEIS</th>
		</tr>
		<tr>
			<td><a href="/api/beacon">/api/beacon</a></td>
		</tr>
		<tr>
			<td><a href="/api/beacon/1">/api/beacon/1</a></td>
		</tr>
		<tr>
			<td><a href="/api/usuario">/api/usuario</a></td>
		</tr>
		<tr>
			<td><a href="/api/usuario/1">/api/usuario/1</a></td>
		</tr>
	</table>
</body>
</html>